*.exe
*.pyc
*.o
*.so
*.eps
!*/*.root
obj/
combiner/*.pdf
combiner/*.png
combiner/*.root
combiner/cards_*
SKIM_*/
weights/data/
interface/exceptions/
jobs_????.??.??_??.??.??/
analysis_ETau*/
analysis_MuTau*/
analysis_TauTau*/
analysis_MuMu*/
*._*
