*.exe
*.pyc
*.o
*.so
*.eps
!*/*.root
obj/
lib/*.pcm
combiner/*.pdf
combiner/*.png
combiner/*.root
combiner/cards_*
SKIM_*/
weights/data/
interface/exceptions/
jobs_????.??.??_??.??.??/
analysis_ETau*/
analysis_MuTau*/
analysis_TauTau*/
analysis_MuMu*/
*._*
limits/VBFlimits/cards_*/
limits/cards_*/
limits/VBFlimits/analyzedOutPlotter*
limits/analyzedOutPlotter*
inputFiles/*
