[general]

lumi = 35867 # pb^-1
outputFolder = ./analysis_MuMu_8Lug

data        = DsingleMu
signals     = Radion900
backgrounds = TTfullyHad, TTfullyLep, TTsemiLep, DY0b, DY1b, DY2b, WJets_HT_0_70, WJets_HT_70_100, WJets_HT_100_200, WJets_HT_200_400, WJets_HT_400_600, WJets_HT_600_800, WJets_HT_800_1200, WJets_HT_1200_2500, WJets_HT_2500_Inf, TWtop, TWantitop, EWKWMinus2Jets_WToLNu, EWKWPlus2Jets_WToLNu, EWKZ2Jets_ZToLL, WWTo2L2Nu, WWTo4Q, WWToLNuQQ, WZTo1L1Nu2Q, WZTo1L3Nu, WZTo2L2Q, WZTo3LNu, ZZTo2L2Nu, ZZTo2L2Q, ZZTo4L, ZZTo4Q, ZH_HBB_ZLL, ZH_HBB_ZQQ, ZH_HTauTau

variables = tauH_pt, bH_mass_raw, met_et, tauH_mass, MT2, HH_mass_raw
# variables = MT2, bH_mass_raw, HH_mass_raw
# variables   = HH_mass_raw, HHKin_mass_raw, MT2, bH_mass_raw, tauH_mass, tauH_SVFIT_mass, dau1MET_deltaphi, tauHsvfitMet_deltaPhi, dib_deltaR, ditau_deltaR, mT1, mT2, bHMet_deltaPhi, HHsvfit_deltaPhi, BDTResonant, LepTauKine
# variables   = BDTResonant, LepTauKine

# variables2D = tauH_SVFIT_mass:bH_mass_raw

# NOTE: final selections are the cartesian combination of (selections) x (regions), name is set to selection_CR
# selections = defaultNoIso, defaultBtagLLNoIso, defaultBtagLLNoIsoBBTTCut, defaultBtagLLNoIsoBBTTCutCirc
# selections = baseline,  1b1j, 2b0j, 1b1jMcut, 2b0jMcut, 1b1jMcutBDT, 2b0jMcutBDT
selections = 2jetsALLcut, 0b2jLALLcut, 1b1jLALLcut, 2b0jLALLcut, 0b2jMALLDPhicut, 1b1jMALLDPhicut, 2b0jMALLDPhicut, 0b2jMALLcut, 1b1jMALLcut, 2b0jMALLcut, 0b2jMmetbcut , 1b1jMmetbcut , 2b0jMmetbcut , 0b2jLmetbcut , 1b1jLmetbcut , 2b0jLmetbcut , 0b2jMmettaucut , 1b1jMmettaucut , 2b0jMmettaucut , 0b2jLmettaucut , 1b1jLmettaucut , 2b0jLmettaucut , 0b2jMtaubcut , 1b1jMtaubcut , 2b0jMtaubcut , 0b2jLtaubcut , 1b1jLtaubcut , 2b0jLtaubcut
# selections = 0b2jMALLcut, 1b1jMALLcut, 2b0jMALLcut, 0b2jMmetbcut, 0b2jMmetbcut0j, 0b2jMmetbcut1j, 0b2jMmetbcut2j, 0b2jMmetbcut3j, 0b2jMmetbcut4j, 0b2jMmetbcutB, 0b2jMmetbcutBB
# selections = 2btag, 0btag, rlxtag
regions    = SR

[configs]
sampleCfg = config/sampleCfg_fixMuMuSF.cfg
cutCfg    = config/selectionCfg_MuMu.cfg

[merge]
TT       = TTfullyHad, TTfullyLep, TTsemiLep
# WJets    = WJets0jet, WJets1jet, WJets2jet, WJets3jet, WJets4jet
WJets    = WJets_HT_0_70, WJets_HT_70_100, WJets_HT_100_200, WJets_HT_200_400, WJets_HT_400_600, WJets_HT_600_800, WJets_HT_800_1200, WJets_HT_1200_2500, WJets_HT_2500_Inf
TW       = TWtop, TWantitop
EWKW     = EWKWMinus2Jets_WToLNu, EWKWPlus2Jets_WToLNu
WW       = WWTo2L2Nu, WWTo4Q, WWToLNuQQ
WZ       = WZTo1L1Nu2Q, WZTo1L3Nu, WZTo2L2Q, WZTo3LNu
ZZ       = ZZTo2L2Nu, ZZTo2L2Q, ZZTo4L, ZZTo4Q
ZH       = ZH_HBB_ZLL, ZH_HBB_ZQQ, ZH_HTauTau
data_obs = DsingleMu

############################################################################################
############################################################################################
# the following lines are used for postprocessing (pp_), i.e. not read from AnalysisHelper
# but used in subsequent steps of the analysis to combine histos, compute QCD etc..
# we keep them here to have everything at hand

###[pp_merge]
###

## parameters for QCD evaluation
## doFitIf : condition to be respected to make rlx-to-tight QCD fit. It is used as eval(doFitIf). Use names sel, var

# [pp_QCD]
# QCDname      = QCD
# SR           = SR
# yieldSB      = SStight
# shapeSB      = SSrlx
# SBtoSRfactor = 1.5
# doFitIf      = var == 'MT2' or var == 'HHKin_mass_raw'
# fitFunc      = [0] + [1]*x