[general]

lumi = 59741 # pb^-1
lumi_fb = 60.0 # fb^-1

data = DTauA, DTauB, DTauC, DTauD

signals = ggFRadion250, ggFRadion260, ggFRadion270, ggFRadion280, ggFRadion300, ggFRadion320, ggFRadion350, ggFRadion400, ggFRadion450, ggFRadion500, ggFRadion550, ggFRadion600, ggFRadion650, ggFRadion700, ggFRadion750, ggFRadion800, ggFRadion850, ggFRadion900, ggFRadion1000, ggFRadion1250, ggFRadion1500, ggFRadion1750, ggFRadion2000, ggFRadion2500, ggFRadion3000

backgrounds = DY_NLO_incl_stitch, DY_NLO_0J, DY_NLO_1J, DY_NLO_2J, DY_NLO_Pt0To50, DY_NLO_Pt50To100, DY_NLO_Pt100To250, DY_NLO_Pt250To400, DY_NLO_Pt400To650, DY_NLO_Pt650ToInf, TTfullyHad, TTfullyLep, TTsemiLep, WJets_HT_0_70, WJets_HT_70_100, WJets_HT_100_200, WJets_HT_200_400, WJets_HT_400_600, WJets_HT_600_800, WJets_HT_800_1200, WJets_HT_1200_2500, WJets_HT_2500_Inf, EWKWMinus2Jets_WToLNu, EWKWPlus2Jets_WToLNu, EWKZ2Jets_ZToLL, TWtop, TWantitop, singleTop_top, singleTop_antitop, ZH_HTauTau, WplusHTauTau, WminusHTauTau, WW, WZ, ttHJetTononBB, ttHJetToBB, ttHJetToTauTau, TTWW, TTWZ, TTZZ, TTWJetsToLNu, TTWJetsToQQ, TTZToLLNuNu, ggHTauTau #DY_NLO_incl

variables = dau1_pt, dau2_pt, dau1_eta, dau2_eta, dau1_phi, dau2_phi, ditau_deltaR, bjet1_pt, bjet1_bID_deepFlavor, bjet2_pt, bjet2_bID_deepFlavor, bjet1_eta, bjet2_eta, tauH_mass, tauH_SVFIT_mass, tauH_pt, bH_mass, bH_pt, HH_mass, HH_pt, HHKin_mass, dau1_iso, dau2_iso, dib_deltaR, btau_deltaRmin, btau_deltaRmax, HH_deltaR, dau1_deepTauVsMu, dau1_deepTauVsEle, dau1_deepTauVsJet, dau2_deepTauVsMu, dau2_deepTauVsEle, dau2_deepTauVsJet, HT20Full, DNNoutSM_kl_1

selections = baseline, s1b1jresolvedMcut, s1b1jresolvedMcutmHH250_335, s1b1jresolvedMcutmHH335_475, s1b1jresolvedMcutmHH475_725, s1b1jresolvedMcutmHH725_1100, s1b1jresolvedMcutmHH1100_3500, s2b0jresolvedMcut, s2b0jresolvedMcutmHH250_335, s2b0jresolvedMcutmHH335_475, s2b0jresolvedMcutmHH475_725, s2b0jresolvedMcutmHH725_1100, s2b0jresolvedMcutmHH1100_3500, sboostedLLMcut, sboostedLLMcutmHH250_625, sboostedLLMcutmHH625_775, sboostedLLMcutmHH775_1100, sboostedLLMcutmHH1100_3500

regions = SR, SStight, OSinviso, SSinviso

[configs]
sampleCfg = config/sampleCfg_UL18.cfg
cutCfg    = config/selectionCfg_TauTau_UL18_mHH.cfg
#pattern   = PPPP

[merge_plots]
data_obs = DTauA, DTauB, DTauC, DTauD
TT       = TTfullyHad, TTfullyLep, TTsemiLep
W        = WJets_HT_0_70, WJets_HT_70_100, WJets_HT_100_200, WJets_HT_200_400, WJets_HT_400_600, WJets_HT_600_800, WJets_HT_800_1200, WJets_HT_1200_2500, WJets_HT_2500_Inf
DYmerged = DY_NLO_incl_stitch, DY_NLO_0J, DY_NLO_1J, DY_NLO_2J, DY_NLO_Pt0To50, DY_NLO_Pt50To100, DY_NLO_Pt100To250, DY_NLO_Pt250To400, DY_NLO_Pt400To650, DY_NLO_Pt650ToInf
ZH      = ZH_HTauTau#ZH_HBB_ZLL, ZH_HBB_ZQQ
WH      = WplusHTauTau, WminusHTauTau
ttH     = ttHJetTononBB, ttHJetToBB, ttHJetToTauTau
ggH     = ggHTauTau
#qqH     = VBFHTauTau
other   = EWKWMinus2Jets_WToLNu, EWKWPlus2Jets_WToLNu, EWKZ2Jets_ZToLL, TWtop, TWantitop, singleTop_top, singleTop_antitop, WZ, WW, TTWW, TTWZ, TTZZ, TTWJetsToLNu, TTWJetsToQQ, TTZToLLNuNu
#VVV      = WWW, WWZ, WZZ, ZZZ

[merge_limits]
data_obs = DTauA, DTauB, DTauC, DTauD
TT       = TTfullyHad, TTfullyLep, TTsemiLep
W        = WJets_HT_0_70, WJets_HT_70_100, WJets_HT_100_200, WJets_HT_200_400, WJets_HT_400_600, WJets_HT_600_800, WJets_HT_800_1200, WJets_HT_1200_2500, WJets_HT_2500_Inf
EWK      = EWKWMinus2Jets_WToLNu, EWKWPlus2Jets_WToLNu, EWKZ2Jets_ZToLL
singleT  = singleTop_top, singleTop_antitop
TW       = TWtop, TWantitop
ZH       = ZH_HTauTau
WH       = WplusHTauTau, WminusHTauTau
VV       = WW, WZ#, ZZ
ttH      = ttHJetTononBB, ttHJetToBB, ttHJetToTauTau
TTX      = TTZZ, TTWW, TTWZ, TTWJetsToLNu, TTWJetsToQQ, TTZToLLNuNu#, TTZToQQ
ggH      = ggHTauTau
DYmerged = DY_NLO_incl_stitch, DY_NLO_0J, DY_NLO_1J, DY_NLO_2J, DY_NLO_Pt0To50, DY_NLO_Pt50To100, DY_NLO_Pt100To250, DY_NLO_Pt250To400, DY_NLO_Pt400To650, DY_NLO_Pt650ToInf
#qqH      = VBFHTauTau
#VVV      = WWW, WWZ, WZZ, ZZZ

############################################################################################
############################################################################################
# the following lines are used for postprocessing (pp_), i.e. not read from AnalysisHelper
# but used in subsequent steps of the analysis to combine histos, compute QCD etc..
# we keep them here to have everything at hand
[pp_merge]

[pp_QCD]
# normal QCD
#QCDname      = QCD
#SR           = SR
#yieldSB      = SStight

#shapeSB      = SStight
#SBtoSRfactor = 1
#regionD      = SSinviso
#regionC      = OSinviso
#doFitIf      = False
#fitFunc      = [0] + [1]*x

#for inverted QCD
QCDname      = QCD
SR           = SR
yieldSB      = OSinviso
shapeSB      = OSinviso
SBtoSRfactor = 1
doFitIf      = False
fitFunc      = [0] + [1]*x
regionC      = SStight
regionD      = SSinviso
doUnc        = True
#boostSBtoSR  = 0.053
#classSBtoSR  = 0.082

[bTagRfactor]
#central = 1.0038
