[samples]

HHSM = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_HH_node_SM

Radion250 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-250
Radion260 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-260
Radion270 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-270
Radion280 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-280
Radion300 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-300
Radion320 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-320
Radion340 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-340
Radion350 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-350
Radion400 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-400
Radion500 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-500
Radion550 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-550
Radion650 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-650
Radion700 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-700
Radion750 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-750
Radion800 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-800
Radion900 = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_GluGluToRadionToHHTo2B2Tau_M-900

TTfullyHad     = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_TT_fullyHad          
TTfullyLep     = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_TT_fullyLep
TTsemiLep      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_TT_semiLep          
DY0b           = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_DY_allgenjets_0b
DY1b           = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_DY_allgenjets_1b
DY2b           = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_DY_allgenjets_2b
WJets0jet      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WJets_0jet
WJets1jet      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WJets_1jet
WJets2jet      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WJets_2jet
WJets3jet      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WJets_3jet
WJets4jet      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WJets_4jet
TWtop          = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_ST_tW_top_5f_inclusiveDecays
TWantitop      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_ST_tW_antitop_5f_inclusiveDecays
WWToLNuQQ      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WWToLNuQQ
WZTo1L1Nu2Q    = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WZTo1L1Nu2Q
WZTo1L3Nu      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WZTo1L3Nu
WZTo2L2Q       = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_WZTo2L2Q
ZZTo2L2Q       = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_ZZTo2L2Q

DsingleMu      = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_SingleMuon
DsingleEle     = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_SingleElectron
DTau           = /data_CMS/cms/cadamuro/test_submit_to_tier3/Skims2017_10Gen/SKIM_Tau


## specify here if a sample should use a user-defined efficiency bin for the normalization
## tipical case: HH reweight, every new point needs to be normalised to a different weight sum
## if nothing is specified, default bin num. 1 is used 
## NOTE: empty sections are ok for this config parser

[userEffBin]
#HH = 1
