#[QCDscale_ggHH]
# This uncertainty is commented because the new HHModelPinv already adds
# a kl-dependent uncertainty called 'THU_HH'
#type = lnN
#ggHH_kl_1_kt_1_hbbhtt    = 0.95/1.022
#ggHH_kl_0_kt_1_hbbhtt    = 0.95/1.022
#ggHH_kl_2p45_kt_1_hbbhtt = 0.95/1.022
#ggHH_kl_5_kt_1_hbbhtt    = 0.95/1.022


[QCDscale_qqHH]
type = lnN
qqHH_CV_1_C2V_1_kl_1_hbbhtt   = 0.9996/1.0003
qqHH_CV_0p5_C2V_1_kl_1_hbbhtt = 0.9996/1.0003
qqHH_CV_1p5_C2V_1_kl_1_hbbhtt = 0.9996/1.0003
qqHH_CV_1_C2V_1_kl_0_hbbhtt   = 0.9996/1.0003
qqHH_CV_1_C2V_1_kl_2_hbbhtt   = 0.9996/1.0003
qqHH_CV_1_C2V_2_kl_1_hbbhtt   = 0.9996/1.0003
qqHH_CV_1_C2V_0_kl_1_hbbhtt   = 0.9996/1.0003


[pdf_Higgs_ggHH]
type = lnN
ggHH_kl_1_kt_1_hbbhtt    = 1.03
ggHH_kl_0_kt_1_hbbhtt    = 1.03
ggHH_kl_2p45_kt_1_hbbhtt = 1.03
ggHH_kl_5_kt_1_hbbhtt    = 1.03


[pdf_Higgs_qqHH]
type = lnN
qqHH_CV_1_C2V_1_kl_1_hbbhtt   = 1.021
qqHH_CV_0p5_C2V_1_kl_1_hbbhtt = 1.021
qqHH_CV_1p5_C2V_1_kl_1_hbbhtt = 1.021
qqHH_CV_1_C2V_1_kl_0_hbbhtt   = 1.021
qqHH_CV_1_C2V_1_kl_2_hbbhtt   = 1.021
qqHH_CV_1_C2V_2_kl_1_hbbhtt   = 1.021
qqHH_CV_1_C2V_0_kl_1_hbbhtt   = 1.021


#[alpha_s_ggHH]
# already included in pdf_Higgs_ggHH
#type = lnN
#ggHH_kl_1_kt_1_hbbhtt    = 1.021
#ggHH_kl_0_kt_1_hbbhtt    = 1.021
#ggHH_kl_2p45_kt_1_hbbhtt = 1.021
#ggHH_kl_5_kt_1_hbbhtt    = 1.021


[BR_hbb]
type = lnN
ggHH_kl_1_kt_1_hbbhtt         = 0.9874/1.0124
ggHH_kl_0_kt_1_hbbhtt         = 0.9874/1.0124
ggHH_kl_2p45_kt_1_hbbhtt      = 0.9874/1.0124
ggHH_kl_5_kt_1_hbbhtt         = 0.9874/1.0124
qqHH_CV_1_C2V_1_kl_1_hbbhtt   = 0.9874/1.0124
qqHH_CV_0p5_C2V_1_kl_1_hbbhtt = 0.9874/1.0124
qqHH_CV_1p5_C2V_1_kl_1_hbbhtt = 0.9874/1.0124
qqHH_CV_1_C2V_1_kl_0_hbbhtt   = 0.9874/1.0124
qqHH_CV_1_C2V_1_kl_2_hbbhtt   = 0.9874/1.0124
qqHH_CV_1_C2V_2_kl_1_hbbhtt   = 0.9874/1.0124
qqHH_CV_1_C2V_0_kl_1_hbbhtt   = 0.9874/1.0124


[BR_htt]
type = lnN
ggHH_kl_1_kt_1_hbbhtt         = 0.9837/1.0165
ggHH_kl_0_kt_1_hbbhtt         = 0.9837/1.0165
ggHH_kl_2p45_kt_1_hbbhtt      = 0.9837/1.0165
ggHH_kl_5_kt_1_hbbhtt         = 0.9837/1.0165
qqHH_CV_1_C2V_1_kl_1_hbbhtt   = 0.9837/1.0165
qqHH_CV_0p5_C2V_1_kl_1_hbbhtt = 0.9837/1.0165
qqHH_CV_1p5_C2V_1_kl_1_hbbhtt = 0.9837/1.0165
qqHH_CV_1_C2V_1_kl_0_hbbhtt   = 0.9837/1.0165
qqHH_CV_1_C2V_1_kl_2_hbbhtt   = 0.9837/1.0165
qqHH_CV_1_C2V_2_kl_1_hbbhtt   = 0.9837/1.0165
qqHH_CV_1_C2V_0_kl_1_hbbhtt   = 0.9837/1.0165

