## ICHEP 2016
## Luca
#+---------+-------+-------+-------+
#| SF type | #DY 0b | #DY 1b | #DY 2b |
#+---------+-------+-------+-------+
#|  SF 0b  |  1.01 |  0.94 |  1.01 |
#|  SF 1b  |  1.00 |  1.11 |  0.94 |
#|  SF 2b  |  1.00 |  0.94 |  1.12 |
#+---------+-------+-------+-------+
#
## Giacomo
#+---------+-------+-------+-------+
#| SF type | #DY 0b | #DY 1b | #DY 2b |
#+---------+-------+-------+-------+
#|  SF 0b  |  1.01 |  0.98 |  1.00 |
#|  SF 1b  |  0.99 |  1.11 |  0.94 |
#|  SF 2b  |  1.00 |  0.93 |  1.12 |
#+---------+-------+-------+-------+
#
#[CMS_hhbbtt_DY0b_SFUnc]
#type = lnN
#DY0b = 1.01
#DY1b = 0.97
#DY2b = 1.01
#
#[CMS_hhbbtt_DY1b_SFUnc]
#type = lnN
#DY0b = 0.98
#DY1b = 1.20
#DY2b = 0.80
#
#[CMS_hhbbtt_DY2b_SFUnc]
#type = lnN
#DY0b = 1.01
#DY1b = 0.86
#DY2b = 1.36
###
## green light
##
##[CMS_hhbbtt_DY0b_SFUnc]
##type = lnN
##DY0b = 1.01
##DY1b = 0.98
###DY2b = 1.03
##
##[CMS_hhbbtt_DY1b_SFUnc]
##type = lnN
##DY0b = 0.99
##DY1b = 1.11
##DY2b = 0.94
##
##[CMS_hhbbtt_DY2b_SFUnc]
##type = lnN
##DY1b = 0.93
##DY2b = 1.12
