[general]

signals     = Lambda20
backgrounds = TT

# lumi in pb
lumi        = 1000. 

[samples]

# signals
Lambda20     = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_HHLambda20
# backgrounds
DY           = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_DY
TT           = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_TTJets
TWtop        = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_TW-top
TWantitop    = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_TW-antitop
Tt           = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_T-tchannel
WW2l2v       = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_WW2l2v
WWlvqq       = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_WWlvqq
WWinc        = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_WW_TuneCUETP8M1
WZinc        = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_WZ_TuneCUETP8M1
ZZinc        = /data_CMS/cms/govoni/test_submit_to_tier3/Skims5/SKIM_ZZ_TuneCUETP8M1

[selections]

# assumes to find "presel" in the txt file
preSelectionsFile = config/TMVATraining_muTau.cut

[tmva]

MVAname                     = muTau
# variables entering in the training
variables                   = HH_deltaPhi, tauHMet_deltaPhi, bHMet_deltaPhi, ditau_deltaPhi, dib_deltaPhi
# spectator variables: not in the training, but in some plots
spectatorsPresent           = true
spectators                  = HH_pt, HHKin_mass, bjet1_bID, bjet2_bID, HH_mass, bH_mass, tauH_mass
eventWeight                 = MC_weight
variabletransformation      = I:N
outputlabel                 = secondTest_muTau
outputFileName              = secondTest_muTau.root

