[general]

signals     = Lambda1
backgrounds = DY
# backgrounds = DY, TT, TWtop, TWantitop, WW2l2v, WWlvqq

# lumi in pb
lumi        = 1000. 

[samples]

# signals
Lambda1     = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_HHLambda20
Lambda1FACT = 100
# backgrounds
DY          = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_DY
# TT          = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_TTJets
# TWtop       = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_TW-top
# TWantitop   = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_TW-antitop
# Tt          = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_T-tchannel
# WW2l2v      = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_WW2l2v
# WWlvqq      = /data_CMS/cms/govoni/test_submit_to_tier3/SKIM_WWlvqq

[selections]

# assumes to find "presel" in the txt file
preSelectionsFile = config/TMVATraining.cut

[tmva]

# variables entering in the training
# variables                   = HH_pt, HHKin_mass, bjet1_bID, bjet2_bID, HH_deltaPhi, tauHMet_deltaPhi, bHMet_deltaPhi, ditau_deltaPhi, dib_deltaPhi
variables                   = HH_pt, HHKin_mass, HH_deltaPhi, tauHMet_deltaPhi, bHMet_deltaPhi, ditau_deltaPhi, dib_deltaPhi
# spectator variables: not in the training, but in some plots
spectatorsPresent           = true
spectators                  = bjet1_bID, bjet2_bID
# trainmodes                  = BDT
# trainmodes                  = Likelihood, Fisher, MLP, BDT
# trainmodes                  = CutsGA, CutsSA, Likelihood, LikelihoodKDE, PDERS, PDEFoam, PDEFoamBoost, Fisher, LD, MLP, MLPBFG, CFMlpANN, TMlpANN, BDT, BDTG, BDTF
eventWeight                 = MC_weight
variabletransformation      = I:N
outputlabel                 = testTMVA
outputFileName              = testTMVA.root

